<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数据库基本操作</title>
</head>
<body>
    <p> {{ $:ip }} - {{ $:time }}</p>

    <div>
        <h2>添加用户</h2>
        <form action="@u" method="POST">
            <div>
                <input type="text" name="name">
            </div>
            <div>
                <input type="text" name="password">
            </div>

            <input type="submit" name="op" value="添加用户">
            <input type="submit" name="op" value="删除用户">
            <input type="submit" name="op" value="更新用户">


            <div>
                <h4>通过指定id操作</h4>
                <input type="text" name="id">
            </div>

            <input type="submit" name="op_id" value="删除用户">
            <input type="submit" name="op_id" value="更新用户">
            
        </form>
    </div>

    <div>
        
        <form action="@u" method="POST">

            
        </form>
    </div>

    <div>
        <h3>用户列表</h3>
        <!-- 与PHP If 一致 -->
        @if (is_array($:user))
            @foreach ( $:user as $user)
            <li>{{ $user['id'] }} - {{$user['name']}} - {{$user['password']}} </li>
            @endforeach
        @else
            <div>空用户</div>
        @endif
    </div>
    
</body>
</html>